@font-face {
  font-family: "SamsungIF Rg";
  src: url('/assets/font/SamsungIF_Rg.eot');
  src: url('/assets/font/SamsungIF_Rg.eot?#iefix') format("embedded-opentype"), url('/assets/font/SamsungIF_Rg.woff') format("woff"), url('/assets/font/SamsungIF_Rg.ttf') format("truetype"), url('/assets/font/SamsungIF_Rg.svg') format("svg");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: 'SamsungIF Rg';
  font-size: 5px;
  margin: 0;
  background-color: #fafafa;
  position: relative;
  height: 100%;
}
p {
  margin: 0;
  padding: 0 14%;
  text-align: left;
}
.align-center {
  display: block;
  margin: 0 auto;
}
.my-link {
  color: #2E89D8;
  cursor: pointer;
}
.my-link:hover {
  text-decoration: underline;
}
img {
  height: auto;
}
img.header {
  width: 312px;
  height: 218px;
}
#header-wrapper {
  text-align: center;
}
#portrait {
  display: none;
}
#landscape {
  display: block;
  margin: 48px 24px 0;
}
#content-wrapper,
#content-wrapper-2 {
  margin-top: 25px;
  width: 100%;
  text-align: left;
}
.content {
  display: inline-block;
  color: #505050;
  text-align: center;
  font-size: 5px;
  width: 100%;
}
.content .re-enroll {
  margin-top: 24px;
}
.content p {
  text-align: center;
}
.next-button {
      text-decoration: none;
    width: 218px;
    height: 20px;
    margin-top: 24px;
    padding: 0;
    border-style: none;
    background-color: #FFFFFF;
    border: solid 0.5px #e1e1e1;
    font-size: 5px;
    cursor: pointer;
    color: #505050;
    font-weight: bold;
}
.next-button:disabled {
  background-color: lightgray;
  cursor: default;
  border: gray solid 1px;
  color: gray;
  box-shadow: 0 0 0;
}
#footer-wrapper {
  text-align: center;
  position: absolute;
  bottom: 24px;
  width: 100%;
  color: gray;
  font-size: 5px;
}
@media (orientation: portrait) and (max-device-width: 500px) {
  #portrait {
    display: block;
    padding: 48px 24px 0;
  }
  #landscape {
    display: none;
  }
  html,
  body {
    height: 100%;
  }
}
@media (orientation: portrait) and (max-device-width: 312px) {
  img.header {
    width: 80%;
  }
}
@media (orientation: landscape) and (max-device-width: 800px) {
  .next-button {
    margin-bottom: 20px;
  }
  #content-wrapper,
  #content-wrapper-2 {
    margin-top: 10px;
  }
}
@media (orientation: portrait) {
  html,
  body {
    height: 100%;
  }
}
@media (orientation: landscape) {
  #footer-wrapper {
    position: unset;
    margin: 24px 0;
  }
}
